  .contacts-form {
      display: flex;
      flex-direction: column;
    }
  
  .form-field,
  .form-group,
  .form-agreement {
    position: relative;
    margin-bottom: 44px;
  }
  
  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 44px;
  }
  
  
  .form-label {
    position: relative;
    flex-basis: 50%;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    color: var(--primary-bg--mode-light);
    background-color: transparent;
    border: none;
    outline: transparent;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    transition: border-color var();
  }
  
  .form-input:hover,
  .form-input:focus,
  .form-input:not(:placeholder-shown) {
    border-color: var(--primary-txt--mode-dark);
    color: var(--primary-bg--mode-light);
  }
  
  .form-textarea {
    margin-top: 0px;
    display: block;
    padding: 10px;
    width: 100%;
    
    color: var(--primary-txt--mode-dark);
    background-color: transparent;
    outline: transparent;
  
    resize: none;
    border: none;
    border-bottom: 1px solid var(--secondary-txt--mode-dark);
  }
  
  .form-textarea:hover,
  .form-textarea:focus {
    border-color: var(--primary-txt--mode-dark);
    color: var(--primary-bg--mode-light);
  }
  
  .form-textarea::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: transparent;
  }
  
  .form-text:hover,
  .form-text:focus,
  .form-text:focus,
  .form-textarea:focus::placeholder {
    color:var(--primary-bg--mode-light);
  }
  
  .form-text {
    position: absolute;
    top: 10px;
    left: 10px;
  
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  
    color: var(--secondary-txt--mode-dark);
  }
  
  .form-text:hover,
  .form-text:focus,
  .form-textarea:hover + .form-text,
  .form-textarea:focus + .form-text {
    color: var(--primary-bg--mode-light);
    transform: translateY(-20px);
  }